<footer>
    <section class="footersection">
        <div>
            <ul>
                <p><strong style="color:black">Here to help</strong></p>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Track your order</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <p><strong style="color:black">Shopping</strong></p>
                <li><a href="#">Black Friday</a></li>
                <li><a href="#">Gift cards</a></li>
                <li><a href="#">Store locator</a></li>
                <li><a href="#">Styling appointments</a></li>
                <li><a href="#">Size guide</a></li>
                <li><a href="#">Refer a friend</a></li>
                <li><a href="#">Klarna</a></li>
                <li><a href="#">Student & graduate discount</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <p><strong style="color:black">About us</strong></p>
                <li><a href="#">About us</a></li>
                <li><a href="#">Committed to change</a></li>
                <li><a href="#">Product care</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press & affiliates</a></li>
                <li><a href="#">CanopyStyle & Pack4GoodPolicy</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <p><strong style="color:black">Legal</strong></p>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Gender Pay Gap</a></li>
                <li><a href="#">Modern Slavery Statement</a></li>
                <li><a href="#">Tax Strategy</a></li>
            </ul>
        </div>
    </section>
    <div class="footersection2 accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Here to help
              </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                      <li><a href="#">Contact us</a></li>
                      <li><a href="#">Delivery</a></li>
                      <li><a href="#">Returns</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">Payment</a></li>
                      <li><a href="#">Track your order</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Shopping
              </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                      <li><a href="#">Black Friday</a></li>
                      <li><a href="#">Gift cards</a></li>
                      <li><a href="#">Store locator</a></li>
                      <li><a href="#">Styling appointments</a></li>
                      <li><a href="#">Size guide</a></li>
                      <li><a href="#">Refer a friend</a></li>
                      <li><a href="#">Klarna</a></li>
                      <li><a href="#">Student & graduate discount</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  About us
              </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Committed to change</a></li>
                      <li><a href="#">Product care</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href="#">Press & affiliates</a></li>
                      <li><a href="#">CanopyStyle & Pack4GoodPolicy</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Legal
              </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <ul>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Cookies</a></li>
                      <li><a href="#">Accessibility</a></li>
                      <li><a href="#">Gender Pay Gap</a></li>
                      <li><a href="#">Modern Slavery Statement</a></li>
                      <li><a href="#">Tax Strategy</a></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
  </footer>
