<div id="products">
        <div class="product1 product">
            <div class="img">
                <img src="https://media.whistles.com/image/upload/f_auto,q_auto,dpr_auto/w_600/wh-catalog/images/00503969212/whistles-myra-denim-midi-dress-denim-01?_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">NEW COLOR</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
        <div class="product product2">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_2.0,f_auto,g_auto,h_1260,q_auto,w_900/v1/wh-catalog/images/00803976001/whistles-tie-front-beach-trouser-black-02?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product3">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/001003975801/whistles-beach-tie-front-top-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product4">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/008039699115/whistles-lola-cotton-blend-trouser-washed-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">LIMITED EDITION</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
        <div class="product1 product">
            <div class="img">
                <img src="https://media.whistles.com/image/upload/f_auto,q_auto,dpr_auto/w_600/wh-catalog/images/00503969212/whistles-myra-denim-midi-dress-denim-01?_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">NEW COLOR</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
        <div class="product product2">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_2.0,f_auto,g_auto,h_1260,q_auto,w_900/v1/wh-catalog/images/00803976001/whistles-tie-front-beach-trouser-black-02?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product3">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/001003975801/whistles-beach-tie-front-top-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product4">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/008039699115/whistles-lola-cotton-blend-trouser-washed-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">LIMITED EDITION</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
        <div class="product1 product">
            <div class="img">
                <img src="https://media.whistles.com/image/upload/f_auto,q_auto,dpr_auto/w_600/wh-catalog/images/00503969212/whistles-myra-denim-midi-dress-denim-01?_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">NEW COLOR</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
        <div class="product product2">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_2.0,f_auto,g_auto,h_1260,q_auto,w_900/v1/wh-catalog/images/00803976001/whistles-tie-front-beach-trouser-black-02?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product3">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/001003975801/whistles-beach-tie-front-top-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
            </div>
        </div>
        <div class="product product4">
            <div class="img">
                <img src="https://res.cloudinary.com/tfg-whistles/image/upload/fl_keep_dar/b_rgb:FFFFFF,c_fill,dpr_1.0,f_auto,g_auto,h_840,q_auto,w_600/v1/wh-catalog/images/008039699115/whistles-lola-cotton-blend-trouser-washed-black-01?pgw=1&_i=AG" alt="Myra Denim Midi Dress" class="product-image">
                <div class="addtobag">ADD TO BAG</div>
                <div class="imagedesc">LIMITED EDITION</div>
            </div>
            <div class="product-info">
                <div class="product-name">
                    <h3>Myra Denim Midi Dress</h3>
                    <span class="wishlist">&#9825;</span>
                </div>
                <p>£149</p>
                <div class="rating" style="display: flex; gap: 2px; font-size: 13px;">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <span class="reviews">(44)</span>
                </div>
            </div>
        </div>
    </div>
