<header  style="position: sticky; top: 0px;">
        <section id="headermain">
            <div class="logo">
                <img src="./icons/logo.svg" alt="">
            </div>
            <div class="icons">
                <div class="search">
                    <img style="width: 19px;" src="./images/icons/search.svg" alt="">
                    <input height="" type="text" placeholder="Search">
                </div>
                <img style="width: 16px;" src="./icons/location.svg" alt="">
                <img style="width: 24px;" src="./icons/likes.svg" alt="">
                <img style="width: 24px;" src="./icons/minicart.svg" alt="">
                <img style="width: 24px;" src="./icons/account.svg" alt="">
            </div>
        </section>
        <nav id="headermenu">
          <ul>
            <li onmouseenter="displaynewin()" onmouseleave="hidenewin()" class="newinh">
                <a href="">NEW IN</a>
                <div id="newin" class="newin">
                    <div class="newin-container">
                        <!-- Left side: Category list -->
                        <div class="newin-categories">
                            <h3>Shop by category</h3>
                            <ul>
                                <li><a href="#">All New in</a></li>
                                <li><a href="#">New in dresses</a></li>
                                <li><a href="#">New in tops</a></li>
                                <li><a href="#">New in skirts</a></li>
                                <li><a href="#">New in jumpsuits</a></li>
                                <li><a href="#">New in shoes</a></li>
                                <li><a href="#">New in accessories</a></li>
                                <li><a href="#">Limited Edition</a></li>
                                <li><a href="#">Back in stock</a></li>
                            </ul>
                        </div>

                        <!-- Right side: Image grid -->
                        <div class="newin-images">
                            <div class="newin-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dw24d4a184/images/SS25/TN/TOPNAV_UKUSROW_NewDresses.jpg" alt="New in Dresses">
                            </div>
                            <div class="newin-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dw4de3be32/images/SS25/TN/TOPNAV_UKUSROW_NewTops.jpg" alt="New in Tops">
                            </div>
                        </div>
                        <div class="extraspace"></div>
                    </div>
                </div>
            </li>
            <li onmouseenter="displayclothing()" onmouseleave="hideclothing()" class="clothingh">
                <a href="">CLOTHING</a>
                <div class="clothing">
                    <div class="clothing-container">
                        <!-- Categories Section -->
                        <div class="clothing-categories">
                            <h3>Shop by category</h3>
                            <ul>
                                <li><a href="#">All Clothing</a></li>
                                <li><a href="#">Dresses</a></li>
                                <li><a href="#">Jumpsuits</a></li>
                                <li><a href="#">Tops</a></li>
                                <li><a href="#">Trousers & Shorts</a></li>
                                <li><a href="#">Skirts</a></li>
                                <li><a href="#">Coats & Jackets</a></li>
                                <li><a href="#">Knitwear</a></li>
                                <li><a href="#">Jeans</a></li>
                                <li><a href="#">Waistcoats</a></li>
                                <li><a href="#">Shirts & Blouses</a></li>
                                <li><a href="#">T-Shirts</a></li>
                                <li><a href="#">Tailoring</a></li>
                                <li><a href="#">Leather</a></li>
                                <li><a href="#">Co-ords</a></li>
                                <li><a href="#">Sweatshirts</a></li>
                                <li><a href="#">Swimwear</a></li>
                                <li><a href="#">Pyjamas</a></li>
                                <li><a href="#">Brands</a></li>
                            </ul>
                        </div>
                        <!-- Collections Section -->
                        <div class="clothing-categories">
                            <h3>Shop by collection</h3>
                            <ul>
                                <li><a href="#">Limited Edition</a></li>
                                <li><a href="#">Essentials</a></li>
                                <li><a href="#">Denim</a></li>
                                <li><a href="#">Holiday Shop</a></li>
                                <li><a href="#">Occasionwear</a></li>
                                <li><a href="#">Workwear</a></li>
                                <li><a href="#">Whistles Signatures</a></li>
                                <li><a href="#">Shapewear</a></li>
                                <li><a href="#">Gifting</a></li>
                            </ul>
                        </div>
                        <!-- Image Section -->
                        <div class="clothing-images">
                            <div class="clothing-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dw9081ead0/images/SS25/TN/TOPNAV_UKUSROW_Jackets_2.jpg" alt="Shop Jackets">
                            </div>
                            <div class="clothing-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dw8440adaf/images/SS25/TN/TOPNAV_UKUSROW_Jumpsuits.jpg" alt="Shop Jumpsuits">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li onmouseenter="displaydresses()" onmouseleave="hidedresses()" >
                <a href="">DRESSES</a>
                <div class="dresses">
                    <div class="dresses-container">
                        <!-- Categories Section -->
                        <div class="clothing-categories">
                            <h3>Shop by category</h3>
                            <ul>
                                <li><a href="#">All dresses</a></li>
                                <li><a href="#">New in dresses</a></li>
                                <li><a href="#">Petite dresses</a></li>
                                <li><a href="#">Casual dresses</a></li>
                                <li><a href="#">Maxi dresses</a></li>
                                <li><a href="#">Midi dresses</a></li>
                                <li><a href="#">Mini dresses</a></li>
                                <li><a href="#">Evening dresses</a></li>
                                <li><a href="#">Printed dresses</a></li>
                                <li><a href="#">Work dresses</a></li>
                                <li><a href="#">Jumpsuits</a></li>
                            </ul>
                        </div>

                        <!-- Color Section -->
                        <div class="clothing-categories">
                            <h3>Shop by colour</h3>
                            <ul>
                                <li><a href="#">Black dresses</a></li>
                                <li><a href="#">Green dresses</a></li>
                                <li><a href="#">Blue dresses</a></li>
                            </ul>
                        </div>

                        <!-- Image Section -->
                        <div class="clothing-images">
                            <div class="clothing-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dw11b9b711/images/SS25/TN/TOPNAV_UKROW_CasualDresses.jpg" alt="Shop Casual Dresses">
                            </div>
                            <div class="clothing-item">
                                <img src="https://www.whistles.com/on/demandware.static/-/Library-Sites-WHSharedLibrary/default/dwa82b7ea2/images/SS25/TN/TOPNAV_UKROW_PetiteDresses.jpg" alt="Shop Petite Dresses">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li onmouseenter="displaynewin()" onmouseleave="hidenewin()" class="newinh">
                <a href="">PETITE</a>
            </li>
            <li onmouseenter="displaynewin()" onmouseleave="hidenewin()" class="newinh" >
                <a href="">SHOES</a>
            </li>
            <li  onmouseenter="displaydresses()" onmouseleave="hidedresses()" >
                <a href="">BAGS & ACCESSORIES</a>
            </li>
            <li onmouseenter="displaynewin()" onmouseleave="hidenewin()" class="newinh">
                <a href="">WEDDING</a>
            </li>
            <li><a href="">REGISTER</a></li>
            <li><a href="">PROFILE</a></li>
        </ul>
        </nav>
    </header>
