*{
  margin: 0;
  padding: 0;
}
h1{
  color: orange;
  background-color: purple;
}

html , body{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
#main {
  margin: 10px auto;
  height: 94%;
  width: 650px;
  margin: auto;
  margin-top: 3%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
#header{
  height: 15%;
  display: flex;
  background: linear-gradient(to right,#a0ced9 , #f1f2cf);
}
.name-title{
  width: 75%;
  height: auto;
}
.name{
  line-height: 55px;
  font-size:xx-large;
  text-align: center;
}
.title{
  line-height: 10px;
  font-family: sans-serif;
  font-size:large;
  text-align: center;
  color: blue;
}
.image-box{
  border-radius: 50%;
  width: 17%;
  margin: auto;
  height: 90%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.picture{
  /* height: 90%; */
  width: 100%;
  height: 100%;
  object-fit: contain;
}


#body{
  height: 85%;
  display: flex;
  padding: 10px;
}
.left-sider{
  width: 35%;
  font-size: 12px;
  border-right: 1px solid black;
}
.contact-info{
  padding: 3px;
  border-bottom: 1px solid black;
  /* padding-bottom: 20px; */
}
.contact-info > p i{
  margin-right: 7px;
}
.skill-info{
  padding: 5px;
  border-bottom: 1px solid black;
  line-height: 14px;
}
.skill-info li,.education-info li , .languages-info li{
  margin-bottom: 3px;
}
.education-info , .languages-info{
  padding: 5px;
  border-bottom: 1px solid black;
  line-height: 14px;
}
.education-info ul , .languages-info ul{
  list-style: none;
}
.languages-info{
  border: none;
}




.right-sider{
  padding: 10px;
  width: 65%;
}
.profile p:first-child , .experience p:first-child{
  padding-bottom: 4px;
  padding-top: 4px;
}
.profile .description{
  font-size: 13px;
  text-align: justify;
  line-height: 13px;
}
.profile hr , .experience hr {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 5px;
}
.references{
  display: flex;
  gap: 20px;
  padding:5px 10px;
  font-size:14px
}
